doctype html
html
    head
        title Agenda de Consultas Médicas
        link(rel='stylesheet', href='styles.css')
    body
        header
            h1 Agenda de Consultas Médicas
            nav
                ul
                    li: a(href='/appointments') Citas
                    li: a(href='/doctors') Médicos
                    li: a(href='/') Inicio
        main
            block content
        footer
            p © 2023 Agenda de Consultas Médicas. Todos los derechos reservados